.body{
    font-family: fantasy;
}
.header{
<<<<<<< HEAD
   background-color: rgb(85, 78, 78);
=======
   background-color: aquamarine;
>>>>>>> 43832efcfe06b77314a0a8bb64cbb218c7bd92fe
}

.titulo{
font-size: 35px;/*tamaño de la letra*/
font-weight: 300;
text-align: center;/*Alinear al centro*/
padding: 20px 0;/*Margenes arriba-abajo, derecha izquierda*/
<<<<<<< HEAD
color: white ;
=======
>>>>>>> 43832efcfe06b77314a0a8bb64cbb218c7bd92fe
}

.start{
    padding: 30px 0;
    text-align: center;
}
.start-leabel{
    display: block;/*poner en bloque*/
    font-size: 22px;
}
.input{
    display: block;
    margin: 15px auto;
    padding: 7px 15px;
    border-radius: 7px;
    border: 1px solid #adadad;
}
.start-button{
    
  background-color: #fa8072;
  color: white;
  border: 0;
  padding: 10px 40px;
  border-radius: 7px;   
}
.start-button:hover{
    color: white;
    background-color: #a15048;
}
.nombre{
    font-size: 23px ;
    text-align: left;
    margin: 40px
}